/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

.md-container {
    max-width: 800px;
    padding-top: 2rem;
}

.sml-card {
    width: 22rem;
    margin: 1rem 0;
}

.cntr-footer {
    height: 80px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
}

.sml-logo {
    height: 1em;
    margin-left: 10px;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.popover {
    max-width: inherit;
}

#cy-container {
    height: 450px;
    width: 100%;
}

#cy {
    height: 98%;
    width: 99%;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
            to bottom,
            #000000,
            #434343
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
            to bottom,
            #000000,
            #434343
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.react-bootstrap-table.search {
    max-height: 70vh;
    overflow: auto;
}

.vis-item.created, .vis-item.restored {
    background-color: limegreen;
}

.vis-item.updated {
    background-color: deepskyblue;
}

.vis-item.deleted {
    background-color: red;
}

.vis-item:hover {
    cursor: pointer;
}