/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

.md-container {
    max-width: 800px;
    padding-top: 2rem;
}

.sml-card {
    width: 22rem;
    margin: 1rem 0;
}

.cntr-footer {
    height: 80px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
}

.sml-logo {
    height: 1em;
    margin-left: 10px;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.popover {
    max-width: inherit;
}